<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stone_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,270},{80,88}}</string>
                <key>offset</key>
                <string>{-11,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,83},{80,88}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>stone_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,270},{94,98}}</string>
                <key>offset</key>
                <string>{-9,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,81},{94,98}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>stone_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{110,106}}</string>
                <key>offset</key>
                <string>{-8,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,82},{110,106}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>stone_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,156},{126,116}}</string>
                <key>offset</key>
                <string>{-7,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,83},{126,116}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>stone_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,142},{140,126}}</string>
                <key>offset</key>
                <string>{-5,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,79},{140,126}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>stone_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,2},{154,138}}</string>
                <key>offset</key>
                <string>{-4,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,72},{154,138}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>stone_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{166,152}}</string>
                <key>offset</key>
                <string>{-2,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,65},{166,152}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>stone_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{180,166}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,59},{180,166}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stone_boom.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0e81333956521518218f276255d9bdee$</string>
            <key>textureFileName</key>
            <string>stone_boom.png</string>
        </dict>
    </dict>
</plist>
